*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Form{
    justify-content: space-between;
    display: flex;
    padding: 50px 50px;
    width: 100%;
    height: 100vh;
    background-color: #F5E5E1;
    
}
.FormBox {
  padding: 50px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 70vh;
  background-color: #427a76;
  border: 2px solid black;
}
.Title {
  text-align: center;
  width: 300px;
  height: 40px;
  background-color: #f5e5e1;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
.Title::placeholder {
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
.Description {
  text-align: center;
  width: 300px;
  height: 100px;
  background-color: #f5e5e1;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
.Description::placeholder {
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
.BoxName {
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
}
.Submit{
  width: 40%;
  height: 40px;
    color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
   background-color: #f5e5e1;
   border-radius: 10px;

}
