.SaveBox {
  padding: 10px;
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  background-color: #427a76;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: end;
  border: 2px solid black;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #174143;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 2px solid black;
  overflow-y: scroll;
}
.items::-webkit-scrollbar{
  width: 8px;
  height: 80px;
}
.items::-webkit-scrollbar-thumb{
  
  background-color: #427a76;
  border-radius: 50px;
}
.items::-webkit-scrollbar-track{
  background-color: #174143;
  border-radius: 50px;
}
.Note {
  padding: 0 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: gainsboro;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
.MyNotes {
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}
